.new-list{
  background-color: #617bb8d6;
  font-size: 1.3rem;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  position: relative;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.user-list__btn{
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.user-list button{
  text-align: center;
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid white;
  background-color: #1f3b4d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  font-size: 1rem;
}


